# Python Data structures

- List
- Dictionary 
- Tuples 
- Sets

Boolean values are the two constant objects/values False and True.

They are used to represent truth values (other values can also be considered false or true like 0 is cosidered False and 1 True).

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

There are some inbuilt functions that helps us find out whether the string is full of alphabets or numbers or whether the
string starts with or ends with paticular alphabet.

In [5]:
name="Python"

In [6]:
name.startswith("P") # checks whether the string starts with P.Here lowercase p will output False as P and p are not same

True

In [7]:
print(name.endswith("N")) # checks whether the string ends with N.

False

name.isalnum() #check if all char are numbers
name.isalpha() #check if all char in the string are alphabetic
name.isdigit() #check if string contains digits
name.istitle() #check if string contains title words
name.isupper() #check if string contains upper case
name.islower() #check if string contains lower case
name.isspace() #check if string contains spaces

above are some example of the inbulit functions useful on strings.

In [8]:
name = "Python "
name.isalnum()

False

In [9]:
# name.isalnum() is False because of the empty space at the end of the string.
# if the empty space is removed the output will be True.

In [10]:
name="Python" # no space
name.isalnum()

True

### Logical operator

- There are basically 3 logically operator in python 
    - and
    - or 
    - not

In [11]:
True and False

False

In [12]:
True and True

True

In [13]:
False or False

False

In [14]:
False or True

True

In [15]:
not True  # negate, outputs the opposite

False

# Lists

- A list is a mutable data structure in python. Mutable means it can be changed.
- Every element in the list is called as item
- List are defined by [].(brackets)

In [16]:
# defining an empty list
lst = list()

In [17]:
type(lst)

list

In [18]:
lst = [1,2,3,"monte","Carlo"]

In [19]:
lst

[1, 2, 3, 'monte', 'Carlo']

In [20]:
# list can have have number of items and its not compulsory to have items of same data type.

In [21]:
len(lst) # len() is an inbuilt function that tells about the length of list.

5

In [22]:
lst * 5 

# multiplying a list doesnt multiply each item of list my that number instead it replicates the list that many no of time.

[1,
 2,
 3,
 'monte',
 'Carlo',
 1,
 2,
 3,
 'monte',
 'Carlo',
 1,
 2,
 3,
 'monte',
 'Carlo',
 1,
 2,
 3,
 'monte',
 'Carlo',
 1,
 2,
 3,
 'monte',
 'Carlo']

In [23]:
lst + 3 # will give an error

TypeError: can only concatenate list (not "int") to list

In [25]:
# however lst + lst will execute 
lst + lst 

# a lst can only be added with another list

[1, 2, 3, 'monte', 'Carlo', 1, 2, 3, 'monte', 'Carlo']

#### Append and Extend/

In [26]:
# to add an item to the list append is used.Append() adds a single item in the list.
lst1=[1,2,3]
lst1.append(4)
lst1
# 4 is added to the list

[1, 2, 3, 4]

In [27]:
lst1.append([5,6])
lst1
# here 5,6 are not added individually but added a list creating a list of list.
# if our output has to be like [1,2,3,4,5,6] we use extend

[1, 2, 3, 4, [5, 6]]

In [28]:
len(lst1)

5

In [29]:
lst2=[1,2,3,4]
lst2.extend([5,6])
lst2
# here [5,6] are supplied as a list but are added individually

[1, 2, 3, 4, 5, 6]

In [30]:
len(lst2)

6

In [31]:
# you can see the difference between the length of lst1 and lst2

#### Indexing

In [32]:
# Items of a list can be accessed using the respective index(indexing starts with 0).
lst=[1,2,3,4,5,6]

In [33]:
lst[1] # lst[1] means display the second item in the list(indexing starts with zero)

2

In [34]:
# a range of items could be selected
lst[1:5] 

#basically while selecting a range of items the stop index is not considered and an item befre the srop index is printed.
# items till 5 are only considered and item and index 5 i.,e 6 is not considered.

[2, 3, 4, 5]

In [35]:
lst[:] #  not necessary to provide the indexes

[1, 2, 3, 4, 5, 6]

### Some operation on list

In [36]:
lst=[1,2,3,4,5]

In [37]:
sum(lst) # sums up the items in the list

15

In [38]:
lst.insert(1,1)
lst

# insert() syntax is insert(postion,element) the above statements add 1 to the first position(which is actually the)
# 2nd position

[1, 1, 2, 3, 4, 5]

In [41]:
min(lst) # gives the minimum item in lst(list)

1

In [42]:
max(lst) # gives the maximum item in lst(list)

5

In [43]:
lst.pop()

# pop() pop/removes the last item from the list if not index is provided.

5

In [44]:
lst.pop(0) # will remove the first item from the list

1

In [45]:
lst

[1, 2, 3, 4]

In [47]:
lst.count(1) # counts the number of occurences of the item

1

In [49]:
lst=[1,2,3,4,1,1]
lst.count(1) # 3 1's present in lst

3

In [53]:
# index() :- this method tells us the first occurence of the given item

lst.index(3)

# our item at index position 2 is 3 so output 2

2

In [54]:
#index(item,start,stop) :- start and stop is the index range in which you wish to fing the starting for an item

In [58]:
lst.index(1,1,5) # here look for 1 starting from index 1 till index 5(5th position is no included)

4

## Sets

-A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Same as the mathematical sets that we have studied in our high school/

In [60]:
# definig an empty set
sett=set()

In [62]:
sett

set()

In [65]:
sett={1,2,3,4,1} # sets are defined in curly braces

In [66]:
type(sett)

set

In [68]:
sett # while defining sett we declare it to have two 1's but as set has no duplicate value the second 1 is not considered

{1, 2, 3, 4}

In [69]:
# to add new items to set we use add()
sett.add(5)

In [70]:
sett

{1, 2, 3, 4, 5}

In [72]:
# there are other functions like intersection,intersection update,difference,difference update and many more that are 
# useful with sets
set1={1,2,3}
set2={1,2,3,4}

In [75]:
# differnce
set2.difference(set1)

# set2 has 4 in it where as set1 so the 4 is printed out however neither set1 or set2 is overwritten

{4}

In [76]:
print(set1)
print(set2)

{1, 2, 3}
{1, 2, 3, 4}

In [82]:
# difference_update
set2.difference_update(set1)
# here the set2 wil be updated and the value in set2 will be 4 coz thats the number that wasnt present in set1.
# however set1 remains same

In [80]:
set2

{4}

In [81]:
set1

{1, 2, 3}

In [84]:
set2={1,2,3,4}
set1.difference_update(set2) 
# set1 will be an empty set coz there is no item that is pr3eset in set1 which is not present in set2

In [85]:
set1

set()

### Dictionary

-Collection which is unordered, changeable and indexed. They have key,value pairs.

In [86]:
# declaring empty dictionary(dict())
d=dict()
dic ={}
print(type(d))
print(type(dic))

<class 'dict'>
<class 'dict'>

In [87]:
# here be careful sets are also defined in curly braces.
set1={1,2,3,4}
dic={"Python":"Language","laptop":"Electrical device"}
print(type(set1))
print(type(dic))

<class 'set'>
<class 'dict'>

In [90]:
dict1={"Sport1":"Cricket","Sport2":"Football","Sport3":"Hockey"}
# here Sport1,Sport2,Sport3 are called Keys
# and Cricket,Football and Hocket are called Values

In [92]:
dict1["Sport1"] # here indexing is not used and inplace of indexes the keys are used to access the respective values

'Cricket'

In [94]:
dict1.keys() # tells all the keys present in the dictionary

dict_keys(['Sport1', 'Sport2', 'Sport3'])

In [95]:
dict1.values() # gives all the values present in dictionary

dict_values(['Cricket', 'Football', 'Hockey'])

In [96]:
# To access the keys sequentially we use for loop
for key in dict1.keys():
    print(key)

Sport1
Sport2
Sport3

In [97]:
# same for the values

In [99]:
for value in dict1.values():
    print(value)

Cricket
Football
Hockey

In [103]:
# we cann access a key:value pair using the dict.items
for x in dict1.items():
    print(x)

('Sport1', 'Cricket')
('Sport2', 'Football')
('Sport3', 'Hockey')

In [105]:
# we can also use the below method
for k,v in dict1.items():
    print(k,":",v)

Sport1 : Cricket
Sport2 : Football
Sport3 : Hockey

In [106]:
# to add a new key,value pair in dictionary just mention the key and value as below
dict1["Sport4"] = "Kabaddi"

In [107]:
dict1 #Sport4 kabaddi added,and remember the keys are unique in a dictionary

{'Sport1': 'Cricket',
 'Sport2': 'Football',
 'Sport3': 'Hockey',
 'Sport4': 'Kabaddi'}

In [108]:
dict1["Sport4"] = "Baseball"

In [110]:
dict1 # Sport4 cahnged to baseball from kabaddi

{'Sport1': 'Cricket',
 'Sport2': 'Football',
 'Sport3': 'Hockey',
 'Sport4': 'Baseball'}

## Nested Dictionary

In [113]:
Cricket = {"Bat" : "Ball"}
Football={"Leg" :"Ball"}
Hockey = {"Stick" : "Ball"}
Baseball ={"Bat" : "Ball"}

In [114]:
dict2={"Sport1":Cricket,"Sport2":Football,"Sport3":Hockey,"Sport4":Baseball}

In [115]:
dict2

{'Sport1': {'Bat': 'Ball'},
 'Sport2': {'Leg': 'Ball'},
 'Sport3': {'Stick': 'Ball'},
 'Sport4': {'Bat': 'Ball'}}

In [116]:
# access the items in dict2
dict2["Sport1"] # accessing the key of Sport1

{'Bat': 'Ball'}

In [118]:
dict2["Sport1"]["Bat"] # accessing the key of the inner dictionary of Sport1.(dictioanary is= {"Bat":"Ball"}, 
                       # so key is "ball")

'Ball'

### Tuples

- A tuple is a colection which is ordered and unchangeable.

In [123]:
# empty tuples
tup1=tuple()
tup2=()
tup3=1,
print(type(tup1))
print(type(tup2))
print(type(tup3))
# tup1 and tup2 are empty where as tup3 has a single value of 1

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [124]:
tup1=(1,2,3,4)

In [125]:
tup1[1] # accessing the items in a tuple(indexing)

2

In [128]:
tup1[1]=5 # will raise an error

TypeError: 'tuple' object does not support item assignment

In [130]:
# functions like count and index works on tuple
tup=(1,2,3,4,5,1,1)
tup.count(1) # outputs the number of 1 present in tuple

3

In [134]:
tup.index(1,2,6) # finding the specified item in a range (explained above)

5